In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

In [2]:
# Load the data from the uploaded file
df = pd.read_csv("C:\\Users\\Sushmita\\Downloads\\RCC_SRNagar.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     object
 1   OYO_CASH         30 non-null     int64
 2   OYO_UPI          30 non-null     int64
 3   OYO_CARD         30 non-null     int64
 4   OYO_ONLINE PAID  30 non-null     int64
 5   Walkin_CASH      30 non-null     int64
 6   Walkin_UPI       30 non-null     int64
 7   Walkin_CARD      30 non-null     int64
 8   EXPENSES         30 non-null     int64
 9   Total Sale       30 non-null     int64
 10  Day close        30 non-null     int64
 11  Cash collected   30 non-null     int64
dtypes: int64(11), object(1)
memory usage: 2.9+ KB

In [4]:
# Strip any leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

# Convert the 'DATE' column to datetime format
if 'DATE' in df.columns:
    df['DATE'] = pd.to_datetime(df['DATE'])
else:
    # If 'DATE' column is not found, identify the correct column name
    potential_date_columns = [col for col in data.columns if 'date' in col.lower()]
    if potential_date_columns:
        date_column = potential_date_columns[0]
        data[date_column] = pd.to_datetime(data[date_column])
    else:
        raise KeyError("'DATE' column not found in the DataFrame")

In [5]:
# Check the data types to confirm the conversion
print(df.dtypes)

DATE               datetime64[ns]
OYO_CASH                    int64
OYO_UPI                     int64
OYO_CARD                    int64
OYO_ONLINE PAID             int64
Walkin_CASH                 int64
Walkin_UPI                  int64
Walkin_CARD                 int64
EXPENSES                    int64
Total Sale                  int64
Day close                   int64
Cash collected              int64
dtype: object

In [6]:
df.head()

,DATE,OYO_CASH,OYO_UPI,OYO_CARD,OYO_ONLINE PAID,Walkin_CASH,Walkin_UPI,Walkin_CARD,EXPENSES,Total Sale,Day close,Cash collected
0,2024-06-01,2071,8678,5125,6139,800,16100,2300,1070,41213,34004,1801
1,2024-06-02,1200,6781,1677,2954,18300,7000,2000,2900,39912,34058,16600
2,2024-06-03,2399,9398,0,1233,6900,14200,3200,2035,37330,34062,7264
3,2024-06-04,1218,6808,0,1786,19500,8952,1120,3510,39384,34088,17208
4,2024-06-05,2369,7750,0,4100,12700,9700,0,2440,36619,30079,12629

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     datetime64[ns]
 1   OYO_CASH         30 non-null     int64
 2   OYO_UPI          30 non-null     int64
 3   OYO_CARD         30 non-null     int64
 4   OYO_ONLINE PAID  30 non-null     int64
 5   Walkin_CASH      30 non-null     int64
 6   Walkin_UPI       30 non-null     int64
 7   Walkin_CARD      30 non-null     int64
 8   EXPENSES         30 non-null     int64
 9   Total Sale       30 non-null     int64
 10  Day close        30 non-null     int64
 11  Cash collected   30 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 2.9 KB

In [8]:
'''
y(hardcover) = w*(time)+b
'''
df['Time'] = np.arange(len(df.index))
df

df.drop(columns=['DATE','Day close','Cash collected'],inplace=True)

In [9]:
df.head()

,OYO_CASH,OYO_UPI,OYO_CARD,OYO_ONLINE PAID,Walkin_CASH,Walkin_UPI,Walkin_CARD,EXPENSES,Total Sale,Time
0,2071,8678,5125,6139,800,16100,2300,1070,41213,0
1,1200,6781,1677,2954,18300,7000,2000,2900,39912,1
2,2399,9398,0,1233,6900,14200,3200,2035,37330,2
3,1218,6808,0,1786,19500,8952,1120,3510,39384,3
4,2369,7750,0,4100,12700,9700,0,2440,36619,4

In [10]:
'''
Lag Features = Extra feature column
'''
df['Oyo_Cash_Lag_1'] = df['OYO_CASH'].shift(1)
df['Oyo_UPI_Lag_1'] = df['OYO_UPI'].shift(1)
df['Oyo_CARD_Lag_1'] = df['OYO_CARD'].shift(1)
df['OYO_ONLINE PAID_Lag_1'] = df['OYO_ONLINE PAID'].shift(1)
df['Walkin_CASH_Lag_1'] = df['Walkin_CASH'].shift(1)
df['Walkin_UPI_Lag_1'] = df['Walkin_UPI'].shift(1)
df['Walkin_CARD_Lag_1'] = df['Walkin_CARD'].shift(1)
df['EXPENSES_Lag_1'] = df['EXPENSES'].shift(1)
df['Oyo_Cash_Lag_2'] = df['OYO_CASH'].shift(2)
df['Oyo_UPI_Lag_2'] = df['OYO_UPI'].shift(2)
df['Oyo_CARD_Lag_2'] = df['OYO_CARD'].shift(2)
df['OYO_ONLINE PAID_Lag_2'] = df['OYO_ONLINE PAID'].shift(2)
df['Walkin_CASH_Lag_2'] = df['Walkin_CASH'].shift(2)
df['Walkin_UPI_Lag_2'] = df['Walkin_UPI'].shift(2)
df['Walkin_CARD_Lag_2'] = df['Walkin_CARD'].shift(2)
df['EXPENSES_Lag_2'] = df['EXPENSES'].shift(2)
df['Oyo_Cash_Lag_3'] = df['OYO_CASH'].shift(3)
df['Oyo_UPI_Lag_3'] = df['OYO_UPI'].shift(3)
df['Oyo_CARD_Lag_3'] = df['OYO_CARD'].shift(3)
df['OYO_ONLINE PAID_Lag_3'] = df['OYO_ONLINE PAID'].shift(3)
df['Walkin_CASH_Lag_3'] = df['Walkin_CASH'].shift(3)
df['Walkin_UPI_Lag_3'] = df['Walkin_UPI'].shift(3)
df['Walkin_CARD_Lag_3'] = df['Walkin_CARD'].shift(3)
df['EXPENSES_Lag_3'] = df['EXPENSES'].shift(3)
'''
y(hardcover) = w*time+b

y(hardcover) = w1*time+w2*previous_day_sales+w3*previous_two_day_sales

'''

'\ny(hardcover) = w*time+b\n\ny(hardcover) = w1*time+w2*previous_day_sales+w3*previous_two_day_sales\n\n'

In [11]:
df.head()

,OYO_CASH,OYO_UPI,OYO_CARD,OYO_ONLINE PAID,Walkin_CASH,Walkin_UPI,Walkin_CARD,EXPENSES,Total Sale,Time,...,Walkin_CARD_Lag_2,EXPENSES_Lag_2,Oyo_Cash_Lag_3,Oyo_UPI_Lag_3,Oyo_CARD_Lag_3,OYO_ONLINE PAID_Lag_3,Walkin_CASH_Lag_3,Walkin_UPI_Lag_3,Walkin_CARD_Lag_3,EXPENSES_Lag_3
0,2071,8678,5125,6139,800,16100,2300,1070,41213,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1200,6781,1677,2954,18300,7000,2000,2900,39912,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2399,9398,0,1233,6900,14200,3200,2035,37330,2,...,2300.0,1070.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1218,6808,0,1786,19500,8952,1120,3510,39384,3,...,2000.0,2900.0,2071.0,8678.0,5125.0,6139.0,800.0,16100.0,2300.0,1070.0
4,2369,7750,0,4100,12700,9700,0,2440,36619,4,...,3200.0,2035.0,1200.0,6781.0,1677.0,2954.0,18300.0,7000.0,2000.0,2900.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   OYO_CASH               30 non-null     int64
 1   OYO_UPI                30 non-null     int64
 2   OYO_CARD               30 non-null     int64
 3   OYO_ONLINE PAID        30 non-null     int64
 4   Walkin_CASH            30 non-null     int64
 5   Walkin_UPI             30 non-null     int64
 6   Walkin_CARD            30 non-null     int64
 7   EXPENSES               30 non-null     int64
 8   Total Sale             30 non-null     int64
 9   Time                   30 non-null     int32
 10  Oyo_Cash_Lag_1         29 non-null     float64
 11  Oyo_UPI_Lag_1          29 non-null     float64
 12  Oyo_CARD_Lag_1         29 non-null     float64
 13  OYO_ONLINE PAID_Lag_1  29 non-null     float64
 14  Walkin_CASH_Lag_1      29 non-null     float64
 15  Walkin_UPI_Lag_1       29 non-null     float64
 16  Walkin_CARD_Lag_1      29 non-null     float64
 17  EXPENSES_Lag_1         29 non-null     float64
 18  Oyo_Cash_Lag_2         28 non-null     float64
 19  Oyo_UPI_Lag_2          28 non-null     float64
 20  Oyo_CARD_Lag_2         28 non-null     float64
 21  OYO_ONLINE PAID_Lag_2  28 non-null     float64
 22  Walkin_CASH_Lag_2      28 non-null     float64
 23  Walkin_UPI_Lag_2       28 non-null     float64
 24  Walkin_CARD_Lag_2      28 non-null     float64
 25  EXPENSES_Lag_2         28 non-null     float64
 26  Oyo_Cash_Lag_3         27 non-null     float64
 27  Oyo_UPI_Lag_3          27 non-null     float64
 28  Oyo_CARD_Lag_3         27 non-null     float64
 29  OYO_ONLINE PAID_Lag_3  27 non-null     float64
 30  Walkin_CASH_Lag_3      27 non-null     float64
 31  Walkin_UPI_Lag_3       27 non-null     float64
 32  Walkin_CARD_Lag_3      27 non-null     float64
 33  EXPENSES_Lag_3         27 non-null     float64
dtypes: float64(24), int32(1), int64(9)
memory usage: 8.0 KB

In [13]:
df['Oyo_Cash_Lag_1'] = df['Oyo_Cash_Lag_1'].fillna(0.0)
df['Oyo_UPI_Lag_1'] = df['Oyo_UPI_Lag_1'].fillna(0.0)
df['Oyo_CARD_Lag_1'] = df['Oyo_CARD_Lag_1'].fillna(0.0)
df['OYO_ONLINE PAID_Lag_1'] = df['OYO_ONLINE PAID_Lag_1'].fillna(0.0)
df['Walkin_CASH_Lag_1'] = df['Walkin_CASH_Lag_1'].fillna(0.0)
df['Walkin_UPI_Lag_1'] = df['Walkin_UPI_Lag_1'].fillna(0.0)
df['Walkin_CARD_Lag_1'] = df['Walkin_CARD_Lag_1'].fillna(0.0)
df['EXPENSES_Lag_1'] = df['EXPENSES_Lag_1'].fillna(0.0)
df['Oyo_Cash_Lag_2'] = df['Oyo_Cash_Lag_2'].fillna(0.0)
df['Oyo_UPI_Lag_2'] = df['Oyo_UPI_Lag_2'].fillna(0.0)
df['Oyo_CARD_Lag_2'] = df['Oyo_CARD_Lag_2'].fillna(0.0)
df['OYO_ONLINE PAID_Lag_2'] = df['OYO_ONLINE PAID_Lag_2'].fillna(0.0)
df['Walkin_CASH_Lag_2'] = df['Walkin_CASH_Lag_2'].fillna(0.0)
df['Walkin_UPI_Lag_2'] = df['Walkin_UPI_Lag_2'].fillna(0.0)
df['Walkin_CARD_Lag_2'] = df['Walkin_CARD_Lag_2'].fillna(0.0)
df['EXPENSES_Lag_2'] = df['EXPENSES_Lag_2'].fillna(0.0)
df['Oyo_Cash_Lag_3'] = df['OYO_CASH'].fillna(0.0)
df['Oyo_UPI_Lag_3'] = df['OYO_UPI'].fillna(0.0)
df['Oyo_CARD_Lag_3'] = df['OYO_CARD'].fillna(0.0)
df['OYO_ONLINE PAID_Lag_3'] = df['OYO_ONLINE PAID'].fillna(0.0)
df['Walkin_CASH_Lag_3'] = df['Walkin_CASH'].fillna(0.0)
df['Walkin_UPI_Lag_3'] = df['Walkin_UPI'].fillna(0.0)
df['Walkin_CARD_Lag_3'] = df['Walkin_CARD'].fillna(0.0)
df['EXPENSES_Lag_3'] = df['EXPENSES'].fillna(0.0)

In [14]:
# Split data into training and testing sets
df_train = df.iloc[:20]
df_test = df.iloc[21:]

In [15]:
df_train = df_train.reset_index(drop=True)
X_train = df_train.loc[:,['Time','Oyo_Cash_Lag_1','Oyo_UPI_Lag_1','Oyo_CARD_Lag_1','OYO_ONLINE PAID_Lag_1','Walkin_CASH_Lag_1','Walkin_UPI_Lag_1',
                          'Walkin_CARD_Lag_1','EXPENSES_Lag_1','Time','Oyo_Cash_Lag_2','Oyo_UPI_Lag_2','Oyo_CARD_Lag_2','OYO_ONLINE PAID_Lag_2',
                          'Walkin_CASH_Lag_2','Walkin_UPI_Lag_2','Walkin_CARD_Lag_2','EXPENSES_Lag_2','Oyo_Cash_Lag_3','Oyo_UPI_Lag_3','Oyo_CARD_Lag_3',
                          'OYO_ONLINE PAID_Lag_3','Walkin_CASH_Lag_3','Walkin_UPI_Lag_3','Walkin_CARD_Lag_3','EXPENSES_Lag_3']]
y_train = df_train.loc[:,['Total Sale']]

X_test = df_test.loc[:,['Time','Oyo_Cash_Lag_1','Oyo_UPI_Lag_1','Oyo_CARD_Lag_1','OYO_ONLINE PAID_Lag_1','Walkin_CASH_Lag_1','Walkin_UPI_Lag_1',
                          'Walkin_CARD_Lag_1','EXPENSES_Lag_1','Time','Oyo_Cash_Lag_2','Oyo_UPI_Lag_2','Oyo_CARD_Lag_2','OYO_ONLINE PAID_Lag_2',
                          'Walkin_CASH_Lag_2','Walkin_UPI_Lag_2','Walkin_CARD_Lag_2','EXPENSES_Lag_2','Oyo_Cash_Lag_3','Oyo_UPI_Lag_3','Oyo_CARD_Lag_3',
                          'OYO_ONLINE PAID_Lag_3','Walkin_CASH_Lag_3','Walkin_UPI_Lag_3','Walkin_CARD_Lag_3','EXPENSES_Lag_3']]
y_test = df_test.loc[:,['Total Sale']]

In [16]:
# Train the model
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [17]:
# Predict sales for the train set
y_pred_train = model.predict(X_train)

In [18]:
# Predict sales for the test set
y_pred = model.predict(X_test)

In [19]:
# Evaluate the model
mae = mean_absolute_error(y_train, y_pred_train)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 8.549250196665526e-12

In [20]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

Mean Absolute Error: 613.7512696064522

In [21]:
from sklearn.metrics import r2_score
r2_score(y_train,y_pred_train)

1.0

In [22]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9904400646024646

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

scores = cross_val_score(model, X_train, y_train, cv = 5, scoring='r2')

print('Cross-validation scores:{}'.format(scores))

Cross-validation scores:[-15.94546393   0.8510933    0.1508934    0.85210836   0.61377904]

In [24]:
# compute Average cross-validation score

print('Average cross-validation score: {:.4f}'.format(scores.mean()))

Average cross-validation score: -2.6955

In [25]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3, 1e-2, 1, 5, 10, 20]}
ridge = Ridge()

grid_search = GridSearchCV(estimator=ridge, param_grid=parameters, scoring='r2', cv=5)
grid_search.fit(X_train, y_train)

print("Best parameters found: ", grid_search.best_params_)
print("Best R2 score found: ", grid_search.best_score_)

Best parameters found:  {'alpha': 20}
Best R2 score found:  -2.695516409790371

C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:253: LinAlgWarning: Ill-conditioned matrix (rcond=2.56517e-18): result may not be accurate.
  dual_coef = linalg.solve(K, y, assume_a="pos", overwrite_a=False)
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:253: LinAlgWarning: Ill-conditioned matrix (rcond=3.0471e-18): result may not be accurate.
  dual_coef = linalg.solve(K, y, assume_a="pos", overwrite_a=False)
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:253: LinAlgWarning: Ill-conditioned matrix (rcond=2.56517e-18): result may not be accurate.
  dual_coef = linalg.solve(K, y, assume_a="pos", overwrite_a=False)
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:253: LinAlgWarning: Ill-conditioned matrix (rcond=3.0471e-18): result may not be accurate.
  dual_coef = linalg.solve(K, y, assume_a="pos", overwrite_a=False)
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:255: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(
C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\linear_model\_ridge.py:253: LinAlgWarning: Ill-conditioned matrix (rcond=3.0471e-18): result may not be accurate.
  dual_coef = linalg.solve(K, y, assume_a="pos", overwrite_a=False)

In [26]:
# # Predict sales for the next month
# future_dates = pd.date_range(data['DATE'].max() + pd.Timedelta(days=1), periods=30)
# future_days_of_year = future_dates.dayofyear
# future_X = pd.DataFrame({'day_of_year': future_days_of_year})

# future_predictions = model.predict(future_X)

In [27]:
# # Plot the results
# plt.figure(figsize=(10, 6))
# plt.plot(df['DATE'], df['Total Sale'], label='Historical Sales')
# plt.plot(future_dates, future_predictions, label='Predicted Sales', linestyle='--')
# plt.xlabel('Date')
# plt.ylabel('Total Sale')
# plt.title('Sales Prediction')
# plt.legend()
# plt.show()

In [28]:
# # Save predictions to Excel
# predictions_df = pd.DataFrame({'DATE': future_dates, 'Predicted Sale': future_predictions})
# predictions_df.to_csv('sales_predictions.xlsx', index=False)

In [29]:
from sklearn.ensemble import GradientBoostingRegressor
model1 = GradientBoostingRegressor(n_estimators=100, learning_rate=0.01, max_depth=4, random_state=12)


model1.fit(X_train,y_train)

C:\Users\Sushmita\anaconda3\Anaconda\Lib\site-packages\sklearn\ensemble\_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor(learning_rate=0.01, max_depth=4, random_state=12)

In [30]:
# Predict sales for the train set
y_pred_train = model1.predict(X_train)

In [31]:
y_pred = model1.predict(X_test)

In [32]:
from sklearn.metrics import r2_score
r2_score(y_train,y_pred_train)

0.8639399290544629

In [33]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

-0.743244377611606