In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\Sushmita\\Downloads\\RCC_SRNagar-1.csv")

In [3]:
df.head()

,DATE,Oyo_Trans,OYO_CASH,OYO_UPI,OYO_CARD,OYO_ONLINE PAID,WalkIn_Trans,Walkin_CASH,Walkin_UPI,Walkin_CARD,EXPENSES,Total Sale,Day close,Cash collected
0,06-01-2024,15874,2071,8678,5125,6139,19200,800,16100,2300,1070,41213,34004,1801
1,06-02-2024,9658,1200,6781,1677,2954,27300,18300,7000,2000,2900,39912,34058,16600
2,06-03-2024,11797,2399,9398,0,1233,24300,6900,14200,3200,2035,37330,34062,7264
3,06-04-2024,8026,1218,6808,0,1786,29572,19500,8952,1120,3510,39384,34088,17208
4,06-05-2024,10119,2369,7750,0,4100,22400,12700,9700,0,2440,36619,30079,12629

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     object
 1   Oyo_Trans        30 non-null     int64
 2   OYO_CASH         30 non-null     int64
 3   OYO_UPI          30 non-null     int64
 4   OYO_CARD         30 non-null     int64
 5   OYO_ONLINE PAID  30 non-null     int64
 6   WalkIn_Trans     30 non-null     int64
 7   Walkin_CASH      30 non-null     int64
 8   Walkin_UPI       30 non-null     int64
 9   Walkin_CARD      30 non-null     int64
 10  EXPENSES         30 non-null     int64
 11  Total Sale       30 non-null     int64
 12  Day close        30 non-null     int64
 13  Cash collected   30 non-null     int64
dtypes: int64(13), object(1)
memory usage: 3.4+ KB

In [5]:
# Strip any leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

# Convert the 'DATE' column to datetime format
if 'DATE' in df.columns:
    df['DATE'] = pd.to_datetime(df['DATE'])
else:
    # If 'DATE' column is not found, identify the correct column name
    potential_date_columns = [col for col in data.columns if 'date' in col.lower()]
    if potential_date_columns:
        date_column = potential_date_columns[0]
        data[date_column] = pd.to_datetime(data[date_column])
    else:
        raise KeyError("'DATE' column not found in the DataFrame")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     datetime64[ns]
 1   Oyo_Trans        30 non-null     int64
 2   OYO_CASH         30 non-null     int64
 3   OYO_UPI          30 non-null     int64
 4   OYO_CARD         30 non-null     int64
 5   OYO_ONLINE PAID  30 non-null     int64
 6   WalkIn_Trans     30 non-null     int64
 7   Walkin_CASH      30 non-null     int64
 8   Walkin_UPI       30 non-null     int64
 9   Walkin_CARD      30 non-null     int64
 10  EXPENSES         30 non-null     int64
 11  Total Sale       30 non-null     int64
 12  Day close        30 non-null     int64
 13  Cash collected   30 non-null     int64
dtypes: datetime64[ns](1), int64(13)
memory usage: 3.4 KB

In [7]:
df.drop(columns=['OYO_CASH','OYO_UPI','OYO_CARD','Walkin_CASH','Walkin_UPI','Walkin_CARD','DATE','Day close','Cash collected'],inplace=True)

In [8]:
df.head()

   Oyo_Trans  OYO_ONLINE PAID  WalkIn_Trans  EXPENSES  Total Sale
0      15874             6139         19200      1070       41213
1       9658             2954         27300      2900       39912
2      11797             1233         24300      2035       37330
3       8026             1786         29572      3510       39384
4      10119             4100         22400      2440       36619

In [9]:
# Create features and target
X=df.drop(['Total Sale'],axis=1)
y=df['Total Sale']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [11]:
model = LinearRegression()

model.fit(X_train,y_train)

LinearRegression()

In [12]:
# Predict sales for the test set
y_pred = model.predict(X_test)

In [13]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

Mean Absolute Error: 6.6696278130014735e-12

1.0

In [14]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

scores = cross_val_score(model, X_train, y_train, cv = 10, scoring='r2')

print('Cross-validation scores:{}'.format(scores))

Cross-validation scores:[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [15]:
from datetime import datetime, timedelta

# Example definition of future_dates and future_predictions
future_dates = [(datetime.now() + timedelta(days=i)).strftime('%Y-%m-%d') for i in range(10)]
future_predictions = [100 + i * 5 for i in range(10)]

# Creating a DataFrame
predictions_df = pd.DataFrame({'DATE': future_dates, 'Predicted Sale': future_predictions})

# Saving to Excel
predictions_df.to_excel('sales_predictions.xlsx', index=False)